<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Single Post</title>
</head>
<body>
<div th:replace="partials/nav :: nav"></div>
<div class="container-main-create">
    <div class="one-create"></div>
    <div class="two-create" style="background-color: lemonchiffon; padding: 10px; align-items: center">
        <div class="title-single" style="text-align: center; background-color: #777777; color: #FFFFFF">
            <h1 th:text="${post.title}"></h1>
        </div>
        <div class="body-single" style="text-align: center">
            <h1 th:text="${post.body}"></h1>
        </div>
    </div>
    <div class="three-create"></div>
</div>
</body>
</html>

