<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Welcome to our website!</title>
</head>
<body>
<div th:replace="partials/nav :: nav"></div>
<div class="container-main">
    <div class="one">
        Profile Goes Here!
    </div>
    <div class="two">
        <h1 class="main-h1">Welcome to your posts!</h1>
    </div>
    <div class="three">
        <div class="item1"></div>
        <div class="three-a" >
            Testing
        </div>
    </div>
</div>
</body>
</html>

